<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/Formstyles.css" />
  </head>
  <body>
    <form class="form-resetpass" action="/api/todo/users/resetpass" method="post">
      <h1>Reset password!</h1>  
          <div class="form-group">
            <input
              class="form-control"
              name="verificationcode"
              type="text"
              placeholder="Verification Code"              
              maxlength="50"
              required              
            />
          </div>    
         <div class="form-group">
            <input
              class="form-control"
              name="password"
              type="password"
              placeholder="Password"
              minlength="6"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              name="passwordconfirm"
              type="password"
              placeholder="Password confirm"
              minlength="6"
              maxlength="50"
              required
            />
            <span id="message"></span>
          </div>
          <div class="form-group">
            <input
              class="form-control"
              name="email"
              type="email"
              placeholder="Email address"
              minlength="5"
              maxlength="50"
              required
              hidden
              value="<%=email %>"
            />
          </div>
      
      <button type="submit" class="btn">Reset Password</button>
      <!-- <p class="muted">Copyright &copy; 2020</p> -->

      <script>
        function checkpass(){
            if(document.querySelector("input[name=password]").value != document.querySelector("input[name=passwordconfirm]").value){                
                document.querySelector("button[type=submit]").disabled = true;
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
            }else{
                document.querySelector("button[type=submit]").disabled = false;
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
            }
        }

        document.querySelector("input[name=password]").onchange = checkpass;
        document.querySelector("input[name=passwordconfirm]").onkeyup = checkpass;
      </script>
    </form>
  </body>
</html>
